* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;800&display=swap);

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.container-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  border-bottom: 1px solid rgba(238, 238, 238, 0.425);
  z-index: 4;
}

.logo h2 span {
  font-size: 15px;
}
.logo h2 {
  font-size: 25px;
}
.navbar {
  padding: 10px;
}
.navbar .navbar-nav,
.log-btn ul {
  list-style-type: none;
}
.navbar .navbar-nav .nav-item,
.log-btn ul li {
  display: inline;
  margin: 0 10px;
  color: #000;
}
.navbar .navbar-nav .nav-item .nav-link,
.log-btn ul li a,
.logo a {
  text-decoration: none;
  font-weight: 100;
  padding: 10px;
  color: #fff;
  font-size: 16px;
  transition: color 0.3s;
}
.navbar .navbar-nav .nav-item:hover .nav-link,
.logo:hover a {
  color: #00bcd4;
}

.log-btn {
  padding: 10px;
}
.log-btn ul li a {
  border-radius: 4px;
  color: #fff;
  border: 2px solid #fff;
}
.log-btn ul li:hover a {
  border: 2px solid #fff;
  background: #fff;
  color: #00bcd4;
  transition: all 0.3s;
}
.log-btn ul li:nth-child(2) a {
  background: #00bcd4;
  color: #fff;
  border: 2px solid #00bcd4;
}
.log-btn ul li:nth-child(2):hover a {
  background: #00bbd4b9;
}

.container-nav.active * {
  color: #555;
}
.container-nav.active {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.container-nav.active .navbar .navbar-nav .nav-item .nav-link {
  color: #555;
}
.container-nav.active .navbar .navbar-nav .nav-item:hover .nav-link {
  color: #00bcd4;
}

/*  */

.banner {
  background: url("../image/banner-bg.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .content {
  width: 100%;
  height: 100%;
}

.banner .content h1 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 35px;
  text-shadow: 5px 5px 3px #00bcd4;

  animation: move 1s 3 alternate;
}
@keyframes move {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  50% {
    opacity: 0.5;
    transform: translateY(25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.banner .content form {
  padding: 20px;
  margin: 10px;
  width: 800px;
  margin: auto;
}
.banner .content .form input {
  padding: 10px;
  font-size: 18px;
  width: 70%;
  background: none;
  outline: none;
  color: #fff;
  border: 1px solid #fff;
}
.banner .content .form input::placeholder {
  color: #fff;
  font-size: 14px;
}
.banner .content .form button {
  padding: 10px;
  width: 25%;
  font-size: 16px;
  outline: none;
  background: #00bcd4;
  color: #fff;
  border: 1px solid #00bcd4;
  cursor: pointer;
  border-radius: 60px 120px 60px 120px;
  transition: border-radius 0.3s, transform 0.3s;
}
.banner .content .form button:hover {
  border-radius: 120px 40px 120px 40px;
}
.banner .content .form button:active {
  transform: scale(0.9);
}
.banner .tld {
  margin-left: -100px;
}
.banner .tld ul {
  list-style-type: none;
}
.banner .tld ul li {
  display: inline;
  padding: 10px;
  margin: 10px;
  color: #fff;

  text-shadow: 1px 1px 1px #00bcd4;
}
/*  */

.customer {
  height: 200px;
  text-align: center;
  padding: 50px;
  background: #f7f7f7;
}
.customer table {
  margin: auto;
}
.customer table tr td {
  padding: 50px;
}

/*  */
.service {
  padding-top: 150px;
  padding-left: 20px;
}
.service span {
  font-size: 18px;
  color: #00bcd4;
  font-weight: bold;
}
.service h2 {
  margin: 30px 0;
}
.service p {
  line-height: 1.5;
  color: #555;
  font-size: 16px;
}
.service .content {
  display: flex;
  justify-content: space-around;
  background: #fff;
  width: 100%;
  margin-top: 50px;
}
.service .content div {
  width: 30%;
  background: #f7f7f7;
  text-align: center;
  padding: 80px 30px;
  transition: all 0.3s;
}
.service .content div:hover {
  background: #00bcd4;
}
.service .content div:hover p,
.service .content div:hover h4 {
  color: #fff;
}
.service .content div h4 {
  margin-bottom: 20px;
  margin-top: 20px;
}
.service .content div p {
  font-size: 16px;
}
.service .content div img {
  border-radius: 50%;
}
/* 
 */

.pricing {
  margin-bottom: 60px;
}
.pricing .bg-pricing {
  background: url("../image/pricing-bg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  color: #fff;
  text-align: center;
  line-height: 1.5;
  padding-top: 60px;
  margin-top: 50px;
}
.pricing .bg-pricing div {
  margin: auto;
  width: 70%;
}
.pricing .bg-pricing p {
  font-size: 16px;
  color: #f7f7f7;
}
.pricing .content {
  display: flex;
  justify-content: space-evenly;
}
.pricing .content .card {
  width: 350px;
  min-height: 600px;
  padding: 10px;
  margin-top: -300px;
  text-align: center;
  color: #000;
  background: #fff;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.pricing .content h4 {
  margin-top: 20px;
  font-weight: 100;
}
.pricing .content .card .price {
  background: #00bcd4;
  color: #fff;
  width: 200px;
  height: 100px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
.pricing .content .card p {
  color: #555;
  font-size: 16px;
  margin: 40px;
}
.pricing .content .card > ul {
  text-align: left;
  padding-bottom: 20px;
}
.pricing .content .card ul li {
  padding: 10px;
  margin: 10px;
  list-style-position: inside;
  font-size: 16px;
  color: #555;
}
.pricing .content .card:nth-child(2) .price {
  background: rgb(172, 30, 172);
}
.pricing .content .card:nth-child(2) {
  background: linear-gradient(to top, #00bcd4, #fff);
}
.pricing .content .card:nth-child(3) .price {
  background: rgb(214, 184, 14);
}
.pricing button {
  padding: 10px;
  outline: none;
  border: 1px solid #00bcd4;
  color: #fff;
  background: rgb(52, 52, 228);
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  bottom: -20px;
  left: 30%;
}

/*  */

footer .content {
  color: #fff;
  display: flex;
  justify-content: space-between;
}

footer .leftDiv {
  width: 300px;
  font-size: 14px;
}
footer {
  background-image: url("../image/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 80px 40px;
}
footer .footer-heading h2 {
  color: #fff;
  font-size: 19px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-bottom: 30px;
}
footer p {
  color: #fff;
}
footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
footer ul li {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.5px;
}
footer ul li:last-child {
  margin-bottom: 0px;
}
footer ul li a {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  transition: all 0.3s;
}
footer ul li a:hover {
  color: #fff;
  opacity: 0.75;
}

footer .sub-footer {
  text-align: center;
  margin-top: 80px;
  border-top: 1px solid rgba(250, 250, 250, 0.3);
  padding-top: 60px;
}

footer .sub-footer a {
  color: #fff;
}

/* About us Page  */
.content.about-us {
  color: #fff;
}
.content.about-us h2 {
  font-size: 44px;
}
.content.about-us span {
  color: #f7f7f7a4;
  font-weight: 100;
}
.content.about-us h5 {
  color: #f7f7f7;
  font-weight: 100;
}
.banner.about-us {
  height: 500px;
  background: url("../image/pricing-bg.jpg");
}
.about {
  padding: 150px 5px;
  background: #f7f7f7;
}
.about .content {
  display: flex;
  justify-content: space-between;
}
.about .content .left {
  width: 40%;
}
.about .content .right {
  width: 60%;
  padding: 5px 100px;
}
.about .content .right span {
  color: #00bcd4;
  font-size: 16px;
  font-weight: bold;
}
.about .content .right h1 {
  margin: 15px 0;
}
.about .content .right p {
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.685);
  font-size: 16px;
  padding: 10px 0;
}
/* our */
.our {
  width: 100%;
  position: relative;
  padding-top: 30px;
}
.our .dropbtn {
  color: #00bcd4;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  margin: 0 20px;
  transition: all 0.3s;
  cursor: pointer;
}
.our .dropdown {
  display: inline-block;
}
.our .dropdown-content {
  opacity: 0;
  position: absolute;
  top: 100px;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: opacity 0.3s;
  padding: 10px 20px;
  border-radius: 4px;
}

.our .dropdown-content p {
  padding: 20px;
  display: block;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.685);
  font-size: 16px;
}

.our .dropbtn:hover {
  background: #00bcd4;
  color: #f1f1f1;
}
.our .dropdown.one:hover ~ section .dropdown-content.one {
  opacity: 1;
}
.our .dropdown.tow:hover ~ section .dropdown-content.tow {
  opacity: 1;
}
.our .dropdown.three:hover ~ section .dropdown-content.three {
  opacity: 1;
}
/* contact */

.contact {
  padding: 100px;
}
.contact .content {
  display: flex;
  justify-content: space-between;
}
.contact .content .left {
  width: 50%;
}
.contact .content .right {
  width: 50%;
  padding: 0 50px;
}
.contact .content .left input,
textarea {
  letter-spacing: 0.5px;
  font-weight: 500;
  color: #6a6a6a;
  font-size: 14px;
  border: 2px solid #ddd;
  background-color: #fff;
  width: 100%;
  height: 46px;
  outline: none;
  padding-top: 3px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 30px;
}
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
.contact button {
  outline: none;
  cursor: pointer;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding: 0px 20px;
  border: none;
  background-color: #00bcd4;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: all 0.5s;
}
.contact .content .right span {
  color: #00bcd4;
  font-size: 16px;
  font-weight: bold;
}
.contact .content .right h1 {
  margin: 15px 0;
}
.contact .content .right p {
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.685);
  font-size: 16px;
  padding: 10px 0;
}